<!-- rfc5228 -->
<input type="text" data-bind="textInput: header_names" pattern='".+"|\[".+"(,".+")*\]'>
<br/>
<select data-bind="value: match_type">
	<option>:is</option>
	<option>:contains</option>
	<option>:matches</option>
</select>
<br/>
<!--
<select data-bind="value: address_part">
	<option>:localpart</option>
	<option>:domain</option>
	<option>:all</option>
</select>
-->
<br/>
<input type="text" data-bind="textInput: key_list" pattern='".+"|\[".+"(,".+")*\]'>
<br/>
<input type="number" data-bind="textInput: index">
<br/>
<label><input type="checkbox" data-bind="checked: last"> last</label>
<br/>
<label><input type="checkbox" data-bind="checked: mime"> mime</label>
<br/>
<label><input type="checkbox" data-bind="checked: anychild"> anychild</label>
<br/>
<!-- when ":mime" is used: -->
<label><input type="checkbox" data-bind="checked: type"> type</label>
<br/>
<label><input type="checkbox" data-bind="checked: subtype"> subtype</label>
<br/>
<label><input type="checkbox" data-bind="checked: contenttype"> contenttype</label>
<br/>
<input type="text" data-bind="textInput: param" pattern='".+"|\[".+"(,".+")*\]'>
