<!-- rfc5230 -->
vacation
	<input type="number" data-bind="textInput: days">
	<input type="number" data-bind="textInput: seconds">
	<input type="text" data-bind="textInput: subject">
	<input type="text" data-bind="textInput: from">
	<input type="text" data-bind="textInput: addresses" pattern='".+"|\[".+"(,".+")*\]'>
	<label><input type="checkbox" data-bind="checked: mime"> mime</label>
	<input type="text" data-bind="textInput: handle">
	<input type="text" data-bind="textInput: reason"> // QuotedString / MultiLine
